.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-violet);
  padding-block: 2rem;
  color: white;
  h3 {
    .false {
      display: none;
    }
  }
  .redes {
    display: flex;
    gap: 3rem;
    font-size: 20px;
    flex-wrap: wrap;
    a {
      color: white;
    }
  }
}
@media (max-width: 750px) or (min-height: 925px) {
  .footer {
    gap:2rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    min-height: 6rem;
    .footer-copy {
      text-align: center;
      h3 {
        font-size: 1rem;
        .false {
          display: initial;
        }
      }
    }
    .redes{
      gap: 1rem;
    }
  }
}
