.loader {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tarjeta-proyecto {
  background-color: var(--main-grey);
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding-block: 3rem;
}
@media (max-width: 800px) {
  .loader{
    padding-inline: 2rem;
    padding-block: 15rem;
  }
}
@media (max-height: 500px){
  .loader{
    padding-inline: 0.5rem;
    padding-block: 2rem;
  }
}
@media (min-height: 800px) and (max-width: 1100px){
  .loader{
    padding-block: 20rem;
  }
}
